ul {
  color: white;
  list-style-type: square;
  list-style-position: inside;
}
body {
  text-align: center;
  font-family: verdana;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  border: 10px solid white;
  outline-style: double;
  outline-color: yellow;
}
button {
  width: 30%;
  font-style: bold;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #008cba;
  font-size: 20px;
  font-style: bold;
}
